.intro {
  padding: 250px 0 180px 0;
}

.intro__title-block {
  max-width: 527px;
  p {
    margin-top: 30px;
  }
}

.intro__link {
  display: inline-block;
  vertical-align: middle;
  margin-top: 60px;
}
