.main-nav__wrap {
  display: flex;
  margin-right: 23px;
  justify-content: space-between;
}

.main-nav__list {
  margin-right: 99px;
}

.main-nav a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: $whitney;
  font-size: 18px;
  line-height: 23px;
  font-weight: 325;
  color: $basic-white;
  cursor: pointer;
}

.main-nav__user-link {
  padding-left: 36px;
}

.main-nav__user-link::before {
  position: absolute;
  content: url("../../img/icon-account.svg");
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
