.modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 490px;
  margin: 0 auto;
  background-color: $basic-white;
  border-radius: 6px;
  box-shadow: 0 10px 60px rgba(0,0,0,0.25);
  z-index: 35;
}

.modal__wrap {
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 60px 55px 59px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 42px;
  height: 42px;
  background-image: url("../../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal h2 {
  margin-bottom: 35px;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
}

.modal fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
  border: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 350;
  color: $text-content;
}

.modal input {
  margin-top: 10px;
  padding-left: 12px;
  min-width: 370px;
  min-height: 50px;
  border: 1px solid $input-border;
  border-radius: 4px;

  &:focus,
  &:active {
    outline: transparent;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 16px;
    font-weight: 325;
    color: $placeholder;
  }
}

.modal__submit {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  padding: 16px 160px;
  margin-top: 34px;
  background-color: $button;
  color: $basic-white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal--show {
  display: block;
}
