// Основные цвета
$basic-black: #000000;
$basic-white: #ffffff;
$light-grey: #788891;
$grey: #666666;
$dark-grey: #1b2d37;
$logo-grey: #203c42;
$baby-blue: #00b2ff;
$border-color: #ebebeb;
$footer-bg: #fafafa;
$bg-main1: #2d1686;
$bg-main2: #4e33b5;
$button: #f25b24;
$heading: #2e2d35;
$bg-benefits: #f6f5f9;
$text-content: #474351;
$input-border: #dddae7;
$placeholder: #918d9a;

// Размеры @media

$mobile-width: 767px;
$tablet-width: 1023px;

// Ретинизация

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// font-family

$whitney: "Whitney", "Arial", sans-serif;
$SegoeUI: "Segoe UI", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
